@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400%");
        /* Styling the Body element:  Color,
        Font, Alignment */
        body {
            background-color: lightblue;
            font-family: Verdana;
            text-align: center;
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
        }

        h1 {
            margin-left: 60px;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 475px;
            margin: 40px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            
        }
 
        /* Styling form-control Class */
        .form-control {
            text-align: left;
            margin-bottom: 25px;
        }
 
        /* Styling form-control Label */
        .form-control label {
            display: block;
            margin-bottom: 8px;
        }
 
        /* Styling form-control input,
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
 
        /* Styling form-control Radio
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
 
        /* Styling Button */
        button {
            background: #0066A2;
            color: white;
            border-style: outset;
            border-color: #0066A2;
            height: 50px;
            width: 100px;
            font: bold15px arial,sans-serif;
            text-shadow: none;
        }

        /* navbar */
    a {
        float: right;
        background: #0066A2;
        color: white;
        border-style: outset;
        border-color: #0066A2;
        height: 20px;
        width: 70px;
        font: bold15px arial,sans-serif;
        text-shadow: none;
        text-align: center;
        overflow: hidden
        
    }


    a:hover {
      background-color: #ddd;
      color: black;
    } 


        
        #tooltip info 
        
      


input {
  border: none;
  width: 170px;
  height: 25px;
  outline: none;
  padding-left: 10px;
}

.tooltip {
  position: relative;
  background: gray;
  padding: 3px 12px;
  margin: 6px;
  font-size: 15px;
  border-radius: 50%;
  color: #FFF;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.3s ease;
}

.tooltip:before {
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: black transparent;
  top: -15px;
  transform: translateY(10px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: black;
  width: 160px;
  height: 70px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(2px);
}


#anim:hover {
  animation: shake 300ms ease-in-out forwards;
} 